<h3> Blogger New</h3>

<%= form_for @blogger do |f| %>
<%=f.label :name%>
<%=f.text_field :name%>
<br>
<%=f.label :bio %>
<%=f.text_field :bio%>
<br>
<%=f.label :age%>
<%=f.text_field :age%>
<br>
<%= f.submit %>
<% end %>
